<div class="container">
  <div class="row">

    <div class="col-md-12 text-center">
      <h1>Burgers</h1>
    </div>

    <div class="row">

      <div class="col-md-6">
        <h3>Uneaten Burgers</h3>
        {{#each burgerData}}
          {{#unless this.isDevoured}}
            <div class="col-md-6">
              {{this.id}}. {{this.burger_name}} 
            </div>

            <div class="col-md-6">
              {{!-- <form method="POST" action="/burgers/update?_method=PUT"> --}}
              <form method="POST" action="/burgers/update">
                <input type="hidden" name="burger_id" type="text" value = {{this.id}}>
                <button  type="submit" class="btn btn-sm btn-dark">Eat It!</button>
              </form>
              <br>
            </div>

          {{/unless}}
        {{/each}}
      </div>

      <div class="col-md-6">
        <h3>Finished Burgers</h3>
        {{#each burgerData}}
          {{#if this.isDevoured}}
             <div class="col-md-6">
              {{this.id}}. {{this.burger_name}} 
            </div>
          {{/if}}
        {{/each}}
      </div>

    </div>

  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Create Your own burger here</h3>

      <form method="POST" action="/burgers/create" class="create-form">
          <input type="text" name="burger_name">
        <button type="submit" class="btn btn-sm btn-dark">Add Burger</button>
      </form>

    </div>
  </div>
</div>